@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0 auto;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
  
  --color-text: #373737;
  --color-text-light: #616161;


  --color-primary: #42a5f5;
  --color-primary-dark:#0077c2;
  --color-primary-light: #80d6ff;

  --color-secondary: #66bb6a;
  --color-secondary-light: #98ee99;
  --color-secondary-dark: #338a3e;

  --color-error: #ef5350;
  --color-error-light: #ff867c;
  --color-error-dark: #b61827;

  color: var(--color-text);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
